<% provide(title: "Edit Project") %>
<div class="container-fluid bg-dk text-lt px-2 py-4">
  <div class="container px-0">
    <h1>Edit Project</h1>

    <%= render "form", project: @project %>
    <%= link_to "Show", @project, class: "link-light" %> |
    <%= link_to "Back", root_path(anchor: "projects"), class: "link-light" %>
  </div>
</div>