<div class="container-fluid text-dk px-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a class="anchor" id="about"></a>
        <p class="code-text mb-2" role="presentation">
          &lt;div class=&quot;about&quot;&gt;
        </p>
        <h1 class="mb-4">
          About Me
        </h1>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="text-center align-self-center">
        <p>
          I love to code.
        </p>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row mb-3">
      <div class="text-center align-self-center w-100">
        </p>
          I first started coding when I first discovered QBasic in sixth grade. When my classwork was finished, I'd usually gravitate to a spare computer to play games until I was called back to my desk. One day, I was playing a Sokoban clone on an old Macintosh, and I was surprised to see that the &quot;About&quot; page listed the creator as a kid my age.  
        </p>
        <p>
          I'd considered myself smart, but I had no idea that building computer programs and games was something a single person could even do, let alone a kid.
        </p>
      </div>
      <div class="align-self-center ml-md-5">
        <%= image_tag 'static/gorillas.png', class: "img-fluid w-300 flex-grow-1" %>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="text-center align-self-center">
        <p>
          That very day, I looked up &quot;how to program&quot; as soon as I got home.
        </p>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row mb-3">
      <div class="text-center align-self-center w-100 order-md-2">
        <p>
          When university came by, I was one of the few people I could think of who knew exactly what they wanted to study. Unfortunately, my scholarships dried up after two years, and I made the difficult decision to defer the remainder of my education and get a full-time job.
        </p>
        <p>
          The practice of coding for its own sake left my life for a time, but I never forgot it entirely. Once you start seeing the world in code, you see it everywhere. This habit stuck with me through everything I did over the next decade, including my oil and gas plant operator job and my subsequent freelance fiction editing work.
        </p>
      </div>
      <div class="align-self-center mr-md-5 order-md-1">
        <%= image_tag 'static/matrix.png', class: "img-fluid w-300 flex-grow-1" %>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="text-center align-self-center">
        <p>
          In January of 2019, I joined a recruitment firm as an IT recruiter. For the first time since university, I was surrounded with coders again on a regular basis.
        </p>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row mb-3">
      <div class="text-center align-self-center w-100">
        <p>
          I loved talking with coders again. They felt like &quot;my people.&quot; Before long, I'd met the organizer of the local Ruby meetup and started attending every month. Modern web development seemed so familiar, yet so different from what I remembered of the Java and C++ I had learned in university.
        </p>
        <p>
          What's more, I'd found a wealth of resources to learn how to use these modern tools on your own. Free tutorials, full open-source courses, podcasts, and burgeoning online communities offered a path to learn the skills necessary to achieve amazing things in a way that wasn't possible when I left to take my first office job.
        </p>
      </div>
      <div class="align-self-center ml-md-5">
        <%= image_tag 'static/mercer.jpg', class: "img-fluid w-300 flex-grow-1" %>
      </div>
    </div>
    <div class="d-flex flex-column mb-3">
      <p class="align-self-center">
        Recruiting wasn't for me, but I'd rediscovered something that was...
      </p>
      <%= image_tag 'static/home.jpg', class: "img-fluid w-600 mb-3 align-self-center" %>
      <p class="align-self-center">
        ...and it was like coming home again.
      </p>
    </div>
    <div class="d-flex justify-content-center">
      <p class="code-text" role="presentation">
        &lt;/div&gt;
      </p>
    </div>
  </div>
</div>
