<div class="container text-dk px-5 py-5">
  <div class="row">
    <div class="col-12 text-center">
      <a class="anchor" id="contact"></a>
      <p class="code-text mb-2" role="presentation">
        &lt;div class=&quot;contact&quot;&gt;
      </p>
      <h1 class="mb-4">
        Contact Me
      </h1>
      <div id="flash-message">
        <%= render "shared/flash" %>
        <p class="mb-4">
          You can send me an email using the form below:
        </p>
      </div>
      <div id="contact-form">
        <%= render "contact_form" %>
      </div>
      <p>
        You can also find me in the following places:
        <ul class="no-bullet">
          <li>
            <i class="fab fa-github"></i>
            <a href="https://github.com/TheWillGabriel">GitHub</a>
          <li>
          <li>
            <i class="fab fa-linkedin-in"></i>
            <a href="https://www.linkedin.com/in/willgabriel/">LinkedIn</a>
          </li>
          </li>
            <i class="fab fa-slack"></i>
            <a href="https://devedmonton-invite.herokuapp.com/">Dev Edmonton Society Slack group</a>
          </li>
        </ul>
      </p>
      <p class="code-text" role="presentation">
        &lt;/div&gt;
      </p>
    </div>
  </div>
</div>