<div class="container-fluid bg-dk px-5 py-5 text-lt">
  <div class="row">
    <div class="col-12 text-center">
      <a class="anchor" id="projects"></a>
      <p class="code-text mb-2" role="presentation">
        &lt;div class=&quot;projects&quot;&gt;
      </p>
      <h1 class="mb-3">
        Projects
      </h1>
      <p class="code-text" role="presentation">
        &lt;/div&gt;
      </p>
    </div>
  </div>
</div>