<% provide(:title, "Home") %>
<div class="container-fluid bg-dk text-lt px-5 py-5">
  <div class="row">
    <div class="col-12">
      <%= image_tag 'static/photo.png', size: "225", class: "mx-auto my-5 d-block", alt: "Will Gabriel wearing a silly hat" %>
    </div>
    <div class="col-12 text-center">
      <p class="code-text mb-0" role="presentation">
        &lt;div class=&quot;greeting&quot;&gt;
      </p>
      <h1 class="display-1 mx-auto">
        Hi, I'm Will!
      </h1>
      <h2 class="mx-auto mb-3">
        Ruby on Rails Developer
      </h2>
      <p class="code-text" role="presentation">
        &lt;/div&gt;
      </p>
    </div>
  </div>
</div>
<%= render 'static/about' %>
<%= render 'static/projects' %>
<%= render 'static/contact' %>