@import './bootstrap_custom.scss';
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

$theme-colors: (
  "bg": whiteSmoke,
  "bg-dark": rgb(60, 179, 143),
  "text-light": whiteSmoke,
  "text-dark": #343a40
);

body {
  background-color: map_get($theme-colors, 'bg');
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.navbar-dark {
  border-bottom: 2px solid map_get($theme-colors, 'bg-dark');
}

.navbar-brand {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}

.nav-link {
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
}

.bg-dk{
  background-color: map_get($theme-colors, 'bg-dark');
}

.text-lt {
  color: map_get($theme-colors, 'text-light')
}

.text-dk {
  color: map_get($theme-colors, 'text-dark')
}

.code-text {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}