@import './bootstrap_custom.scss';
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

$theme-colors: (
  "bg": rgb(245,245,245),
  "bg-dark": rgb(60, 179, 143),
  "text-light": rgb(245,245,245),
  "text-dark": #343a40,
  "link-dark": rgb(78,161,136),
  "hover-dark": rgb(61,127,107),
  "hover-light": rgb(255,255,255)
);

html {
	scroll-behavior: smooth;
}

body {
  background-color: map_get($theme-colors, 'bg');
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

a.link-light {
  color: map_get($theme-colors, 'text-light');
  &:hover{
    color: map_get($theme-colors, 'hover-light');
  }
}

a.link-dark {
  color: map_get($theme-colors, 'link-dark');
  &:hover{
    color: map_get($theme-colors, 'hover-dark');
  }
}

img.light-rounded {
  background-color: map-get($theme-colors, 'bg');
  border-radius: 5px;
  padding: 5px;
}

img.w300 {
  max-width: 300px;
  border-radius: 5px;
}

img.w600 {
  max-width: 600px;
  border-radius: 5px;
}

ul.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

.navbar-dark {
  border-bottom: 2px solid map_get($theme-colors, 'bg-dark');
}

.navbar-brand {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}

.nav-link {
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
}

.bg-dk{
  background-color: map_get($theme-colors, 'bg-dark');
}

.text-lt {
  color: map_get($theme-colors, 'text-light')
}

.text-dk {
  color: map_get($theme-colors, 'text-dark')
}

.code-text {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}
