@import './bootstrap_custom.scss';
@import './rouge.css.erb';
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url("https://code.cdn.mozilla.net/fonts/fira.css?family=fira-mono");

$theme-colors: (
  "bg": rgb(245,245,245),
  "bg-dark": rgb(60, 179, 143),
  "text-light": rgb(245,245,245),
  "text-dark": #343a40,
  "link-dark": rgb(78,161,136),
  "hover-dark": rgb(61,127,107),
  "hover-light": rgb(255,255,255)
);

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
  background-color: map_get($theme-colors, 'bg');
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 40px;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

a.link-light {
  color: map_get($theme-colors, 'text-light');
  &:hover{
    color: map_get($theme-colors, 'hover-light');
  }
}

a.link-dark {
  color: map_get($theme-colors, 'link-dark');
  &:hover{
    color: map_get($theme-colors, 'hover-dark');
  }
}

a.nostyle {
  color: inherit;
  text-decoration: none;
}

code,
pre {
  font-family: 'fira-mono', monospace;
}

pre.highlight {
  padding: 10px;
}

.highlight {
  border-radius: 5px;
}

img.light-rounded {
  background-color: map-get($theme-colors, 'bg');
  border-radius: 5px;
  padding: 5px;
}

img.w-300 {
  max-width: 300px;
  border-radius: 5px;
}

img.w-600 {
  max-width: 600px;
  border-radius: 5px;
}

@include media-breakpoint-down(sm) {
  img.w-300 {
    max-width: 356px;
  }

  img.w-600 {
    max-width: 500px;
  }
}

@include media-breakpoint-down(xs) {
  img.w-600 {
    max-width: 90vw;
  }
}

ul.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

.extend {
  min-height: 89.4vh;
}

.fadeout {
  animation:fadeout 0.5s 1;
  -webkit-animation:fadeout 0.5s 1;
  -ms-animation:fadeout 0.5s 1;
  -moz-animation:fadeout 0.5s 1;
  -o-animation:fadeout 0.5s 1;

  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes fadeout{
  from {opacity :1;}
  to {opacity :0;}
}

@-webkit-keyframes fadeout{
  from {opacity :1;}
  to {opacity :0;}
}

.footer {
  min-width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
}

.navbar-dark {
  border-bottom: 2px solid map_get($theme-colors, 'bg-dark');
}

.navbar-brand {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}

.nav-link {
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
}

.overlay {
  position: fixed;
  left: 50%;
  top: 90px;
  transform: translate(-50%, -50%);
}

.bg-dk{
  background-color: map_get($theme-colors, 'bg-dark');
}

.bg-lt{
  background-color: map_get($theme-colors, 'bg');
}

.text-lt {
  color: map_get($theme-colors, 'text-light')
}

.text-dk {
  color: map_get($theme-colors, 'text-dark')
}

.code-text {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}
