.highlight .hll { background-color: #2C323C }
.highlight  { background: #2C323C; color: #ABB2BF }
.highlight .c { color: #5C6370 } /* Comment */
.highlight .err { color: #D19A66 } /* Error */
.highlight .k { color: #C678DD } /* Keyword */
.highlight .l { color: #D19A66 } /* Literal */
.highlight .n { color: #E06C75 } /* Name */
.highlight .o { color: #56B6C2 } /* Operator */
.highlight .p { color: #ABB2BF } /* Punctuation */
.highlight .cm { color: #5C6370 } /* Comment.Multiline */
.highlight .cp { color: #5C6370 } /* Comment.Preproc */
.highlight .c1 { color: #5C6370 } /* Comment.Single */
.highlight .cs { color: #5C6370 } /* Comment.Special */
.highlight .gd { color: #D19A66 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #ABB2BF; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #98C379 } /* Generic.Inserted */
.highlight .gp { color: #5C6370; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #70c0b1; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #C678DD } /* Keyword.Constant */
.highlight .kd { color: #C678DD } /* Keyword.Declaration */
.highlight .kn { color: #E5C07B } /* Keyword.Namespace */
.highlight .kp { color: #61AFEF } /* Keyword.Pseudo */
.highlight .kr { color: #C678DD } /* Keyword.Reserved */
.highlight .kt { color: #E5C07B } /* Keyword.Type */
.highlight .ld { color: #98C379 } /* Literal.Date */
.highlight .m { color: #D19A66 } /* Literal.Number */
.highlight .s { color: #98C379 } /* Literal.String */
.highlight .na { color: #D19A66 } /* Name.Attribute */
.highlight .nb { color: #E06C75 } /* Name.Builtin */
.highlight .nc { color: #E5C07B } /* Name.Class */
.highlight .no { color: #D19A66 } /* Name.Constant */
.highlight .nd { color: #61AFEF } /* Name.Decorator */
.highlight .ni { color: #ABB2BF } /* Name.Entity */
.highlight .ne { color: #D19A66 } /* Name.Exception */
.highlight .nf { color: #61AFEF } /* Name.Function */
.highlight .nl { color: #ABB2BF } /* Name.Label */
.highlight .nn { color: #E5C07B } /* Name.Namespace */
.highlight .nx { color: #ABB2BF } /* Name.Other */
.highlight .py { color: #ABB2BF } /* Name.Property */
.highlight .nt { color: #E06C75 } /* Name.Tag */
.highlight .nv { color: #D19A66 } /* Name.Variable */
.highlight .ow { color: #ABB2BF } /* Operator.Word */
.highlight .w { color: #ABB2BF } /* Text.Whitespace */
.highlight .mf { color: #D19A66 } /* Literal.Number.Float */
.highlight .mh { color: #D19A66 } /* Literal.Number.Hex */
.highlight .mi { color: #D19A66 } /* Literal.Number.Integer */
.highlight .mo { color: #D19A66 } /* Literal.Number.Oct */
.highlight .sb { color: #98C379 } /* Literal.String.Backtick */
.highlight .sc { color: #ABB2BF } /* Literal.String.Char */
.highlight .sd { color: #5C6370 } /* Literal.String.Doc */
.highlight .s2 { color: #98C379 } /* Literal.String.Double */
.highlight .se { color: #D19A66 } /* Literal.String.Escape */
.highlight .sh { color: #98C379 } /* Literal.String.Heredoc */
.highlight .si { color: #ABB2BF } /* Literal.String.Interpol */
.highlight .sx { color: #98C379 } /* Literal.String.Other */
.highlight .sr { color: #51B4C3 } /* Literal.String.Regex */
.highlight .s1 { color: #98C379 } /* Literal.String.Single */
.highlight .ss { color: #D19A66 } /* Literal.String.Symbol */
.highlight .bp { color: #ABB2BF } /* Name.Builtin.Pseudo */
.highlight .vc { color: #D19A66 } /* Name.Variable.Class */
.highlight .vg { color: #D19A66 } /* Name.Variable.Global */
.highlight .vi { color: #D19A66 } /* Name.Variable.Instance */
.highlight .il { color: #D19A66 } /* Literal.Number.Integer.Long */

// Bash-specific values
.shell { background: #2C2C2C; color: #1ABC9C }
.shell .nv { color: #1ABC9C }
.shell .nt { color: #1ABC9C }
.shell .nb { color: #1ABC9C }
.shell .k { color: #1ABC9C }
.shell .o { color: #1ABC9C }
.shell .s1 { color: #1ABC9C }
.shell .s2 { color: #1ABC9C }