<%= simple_form_for @post do |f| %>
  <div class="container mb-4 px-4 py-3 rounded bg-lt shadow-sm text-dk">
      <%= f.input :title %>
      <%= f.input :content, input_html: { rows: 20 } %>
      <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
