<%= simple_form_for @post do |f| %>
  <div class="row">
    <div class="col-md-8">
      <%= f.input :title %>
      <%= f.input :content, input_html: { rows: 20 } %>
      <%= f.submit "Save", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>