<% provide(title: "Edit Post") %>
<div class="container-fluid bg-dk text-lt px-5 py-4">
  <div class="container">
    <h1>Edit Post</h1>

    <%= render "form", post: @post %>
    <%= link_to "Show", @post, class: "link-light" %> |
    <%= link_to "Back", posts_path, class: "link-light" %>
  </div>
</div>