<% provide(:title, "Blog") %>
<a class="anchor" id="top"></a>
<div class="container-fluid bg-dk px-2 text-lt py-4">
  <h1 class="mb-4 text-center">Recent Posts</h1>
  <%= will_paginate %>
  <%= render @posts %>
  <%= will_paginate %>
</div>