<% provide(:title, "Blog") %>
<a class="anchor" id="top"></a>
<div class="container-fluid bg-dk px-2 text-lt py-4 extend">
  <div class="text-center">
    <p class="code-text mb-2" role="presentation">
      &lt;div class=&quot;blog&quot;&gt;
    </p>
  </div>
  <h1 class="mb-4 text-center">Recent Posts</h1>
  <%= render @posts %>
  <div class="container blog-post px-0">
    <%= will_paginate @posts, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, previous_label: "«" , next_label: "»" %>
  </div>
  <div class="text-center align-self-end">
    <p class="code-text" role="presentation">
          &lt;/div&gt;
    </p>
  </div>
</div>
