<div class="navbar footer bg-dark mt-auto">
  <div class="d-flex text-lt">
    <%= link_to("mailto:will.gabriel@gmail.com", class: "nostyle") do %>
      <i class="fas fa-copyright mr-1"></i>
      <small><%= Time.now.year %> Will Gabriel</small>
    <% end %>
  </div>
  <div class="d-flex text-lt">
    <% if admin? %>
      <%= link_to(logout_path, class: "nostyle") do %>
        <i class="fas fa-sign-out-alt mr-1"></i>
        <small> Log Out</small>
        <% end %>
    <% else %>
      <%= link_to(login_path, class: "nostyle") do %>
        <i class="fas fa-lock mr-1"></i>
        <small> Admin Login</small>
      <% end %>
    <% end %>
  </div>
</div>